
.payment
  position fixed
  top 10%
  right 0
  width 200px

  > .wrapper
    padding 10px 20px
    background-color red
    color white

.payment-info
  text-transform uppercase
  font-size .9rem

.payment-cart li
  margin-top 20px
  margin-left 20px
  list-style-type disc

.payment-button
  background none
  border none
  color white
  text-decoration underline
