h1,
h2,
h3,
h4,
h5,
h6
  color: text-strong
  font-weight: 700
  line-height: 1.125
  margin-bottom: 20px
  font-family family-primary
h1,
h2,
h3
  &:not(:first-child)
    margin-top: 40px
h1
  font-size: 2em
h2
  font-size: 1.75em
h3
  font-size: 1.5em
h4
  font-size: 1.25em
h5
  font-size: 1.125em
h6
  font-size: 1em
p:not(:last-child)
  margin-bottom: 1em
blockquote
  background: background
  border-left: 5px solid border
  padding: 1.5em
  &:not(:last-child)
    margin-bottom: 1em
