// Colors
grey-darker = #222324
grey-dark = #616161
grey = #7d7d7d
grey-light = #a2a1a1
grey-lighter = #ccc

blue = #42afe3
green = #97cd76
purple = #847bb9
red = #ed6c63
ruby = #d32562
turquoise = #1fc8db
yellow = #fce473

primary = red
primary-invert  = ruby

body-background = grey-lighter
background = grey-lighter

border = grey-light
border-hover = grey

code = red
code-background = background

pre = text
pre-background = background

text-strong = grey-dark

input-border = grey-lighter
input-color = grey
input-border-hover = grey-dark
input-color-hover = input-border-hover
input-border-focus = primary

button-colors = {'name': 'primary', 'bg': primary, 'color': white} {'name': 'success', 'bg': green, 'color': white} {'name': 'warning', 'bg': yellow, 'color': #7E7239} {'name': 'danger', 'bg': red, 'color': white} {'name': 'secondary', 'bg': blue, 'color': white}
message-colors = {'name': 'success', 'color': green} {'name': 'warning', 'color': red}

// Links
link = primary
link-invert = primary-invert
link-visited = ruby

link-hover = grey-darker

link-active = grey-darker
link-active-border = grey-darker


// Typography
family-sans-serif = "Helvetica Neue", "Helvetica", "Arial"
family-monospace = "Source Code Pro", "Monaco", "Inconsolata", monospace

family-primary = family-sans-serif

size-1 = 30px
size-2 = 25px
size-3 = 21px
size-4 = 15px
size-5 = 13px
size-6 = 11px
size-7 = 10px

size-normal = size-4
size-small = size-5


// Dimensions
column-gap = 10px
responsive-breakpoint = 600px

// Miscellaneous
easing = ease-out
radius = 3px
speed = 130ms
